.calculator {
    width: 400px;
    height: 250px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: greenyellow;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    background-color: pink;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    background-color: blueviolet;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:orange;
    cursor: pointer;
}

button:hover {
    background-color: #e0e0e0;
}
